# Data Validation Report

### Issues Found:
- ID HOSP_SECU_002: Latitude exists but missing longitude.
- ID ECR_HYDE_008: VERIFIED but missing phone numbers.
- ID POL_HYDE_010: VERIFIED but missing phone numbers.
- ID POL_HYDE_011: VERIFIED but missing phone numbers.
- ID POL_SANG_002: VERIFIED but missing phone numbers.
- ID POL_KARI_001: VERIFIED but missing phone numbers.
- ID POL_NIZA_002: VERIFIED but missing phone numbers.
- ID POL_RANG_001: VERIFIED but missing phone numbers.
- ID POL_MEDC_001: VERIFIED but missing phone numbers.
- ID POL_RANG_002: VERIFIED but missing phone numbers.
- ID POL_PEDD_001: VERIFIED but missing phone numbers.